body {
    margin: 0;
    background-color: white;
    background-size: cover;
    font-family: 'Roboto' ,sans-serif;
}
h1 {
    text-align: center;
    color: black;
}
img {
    height; 60%;
    width: 100%
}
.container {
    max-width: 60%;
    margin:0 auto;
    padding: 70px 0 20px;
    width: 100%;
}
.container {
    max-width: 60%;
    margin:0 auto;
    padding: 70px 0 20px;
    width: 100%
}
.acc h3 {
    font-size: 20px;
    background-color: blue;
    color: black;
    padding: 18px;
    margin: 0;
    cursor: pointer;
    letter-spacing: 2px;
    position: relative;
    font-family: sans-serif;
}
.content {
    background-color: blue;
}
.content-inner {
    padding :15px;
}
. content * {
    margin-top: 0;
    line-height: 1.5;
}
.content {
    background-color: white;
    display: none;
}
.acc {
    border-bottom: 5px solid white;
}
.acc h3:after {
    content: '+';
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.acc.active h3:after {
    content: '-';
}

.top {
    height; 60%;
    width: 100%
    padding: 0;
}